* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

.App {
    min-height: 100dvh;
    background-color: #101010;
    color: white;

    .balance {
        position: absolute;
        top: 10%;
        right: 10%;
    }
}